$primary-color: #181823;
$secundary-color: #537fe7;
$tertiary-color: #c0eef2;
$background-color: #e9f8f9;

$font-primary: 'Montserrat', sans-serif; 
$font-secundary: 'Roboto', sans-serif;
$font-alternate: 'Ephesis', cursive;
 
$font-size-xs: 2vh;
$font-size-s: 2.7vh;
$font-size-m: 3.2vh;
$font-size-ml:4.5vh;
$font-size-l: 5vh;
$font-size-xl: 11.5vh;


